body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #b0b6bc;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #666;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  margin: 0 10px;
}

nav a:hover {
  background-color: #888;
  border-radius: 5px;
}

section {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  color: #333;
}

h2 {
  color: #666;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Testimonial styling */
#testimonials {
  background-color: #f8f8f8;
  padding: 30px;
  text-align: center;
}

#testimonial-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 30px;
}

.testimonial {
  display: inline-block;
  max-width: 300px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 30px;
  text-align: left;
}

/* Additional styling for responsiveness */
@media screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}
