@media screen and (max-width: 600px) {
  body {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

/* Center the navigation bar */
nav {
  text-align: center;
}

nav a {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;
  color: #333; /* Adjust the color as needed */
}

/* Testimonial styling */
#testimonials {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
}

#testimonial-container {
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}

.testimonial {
  display: inline-block;
  max-width: 300px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}
